:root {
--common-color: #2e2f42;
--logo-logo: #f4f4fd;
--blue-logo: #4d5ae5;
--menu-or-address: #404bbf;
--white-option: #ffffff;
--foot-color: #e7e9fc;
--normal-color: #434455;
}
body {
  font-family: "Roboto", sans-serif;
}
button {
  cursor: pointer;
  font-family: inherit;
}
button.main-btn {
  background: var(--blue-logo);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-option);
}
button.main-btn:hover {
  background: var(--menu-or-address);
}
button.main-btn:focus {
  background: var(--menu-or-address);
}
button.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--blue-logo);
  background: var(--logo-logo);
  border-radius: 4px;
}
button.btn:hover {
  background: var(--menu-or-address);
  color: var(--white-option);
}
h3.head-of-service {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.main-head {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: color: var(--white-option);
}
.main-sectn {
  background: var(--common-color);
}
p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--normal-color);
}
.prh-footer {
  font-size: 16px;
  line-height: 1.5;
  color: var(--foot-color);
}
footer {
  background: var(--common-color);
}
li {
  list-style-type: none;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--common-color);
  text-decoration: none;
}
.menu-link:hover {
  color: var(--menu-or-address);
}
.menu-link:focus {
  color: var(--menu-or-address);
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--normal-color);
  font-style: normal;
  text-decoration: none;
}
.address-link:hover {
  color: var(--menu-or-address);
}
.address-link:focus {
  color: var(--menu-or-address);
}
.logo-head {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--common-color);
  text-decoration: none;
}
.blue-part {
  color: var(--blue-logo);
}
.logo-foot {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--logo-logo);
  text-decoration: none;
}
.team {
  color: var(--logo-logo);
}
.head-hide {
  display: none;
}
